networks:
  juniors-bootcamp:
    driver: bridge
    external: false

volumes:
  juniors-bootcamp-data:
    driver: local

services:
  juniors-bootcamp-database:
    image: mongo:latest
    restart: always
    container_name: juniors-bootcamp-database
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${DATABASE_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${DATABASE_PASSWORD}
    ports:
      - '${DATABASE_PORT}:27017'
    volumes:
      - juniors-bootcamp-data:/data/db
    networks:
      - juniors-bootcamp

  juniors-bootcamp-service:
    image: ghcr.io/siberiacancode/juniors-bootcamp-backend:latest
    container_name: juniors-bootcamp-service
    environment:
      - JWT_SECRET=${JWT_SECRET}
      - PORT=${PORT}
      - SERVER_URL=${SERVER_URL}
      - DATABASE_URL=mongodb://${DATABASE_USERNAME}:${DATABASE_PASSWORD}@juniors-bootcamp-database:27017/${DATABASE_NAME}
    ports:
      - '${PORT}:${PORT}'
    depends_on:
      - juniors-bootcamp-database
    networks:
      - juniors-bootcamp
