# Database Configuration
DATABASE_USERNAME=juniors-bootcamp-admin
DATABASE_PASSWORD=juniors-bootcamp-password
DATABASE_PORT=27018
DATABASE_NAME=juniors-bootcamp

# Application Configuration
JWT_SECRET=qwertyuiopasdfghjklzxcvbnm123456
PORT=3001
SERVER_URL=http://localhost:3001/
